<ion-header>
  <ion-toolbar>
    <ion-title class="subtitulo">
      Factura
    </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()" color="primary">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3 class="subtitulo encabezado"> Datos de la factura</h3>

  <ion-item style="margin-top: 20px;">
    <ion-label class="normal" position="floating">
      Fecha inicial:

    </ion-label>
    <ion-input
      type="Date"
      name="fechaDesde"
      [(ngModel)]="fechaDesde"    
    >
    </ion-input>
  </ion-item>

  <ion-item style="margin-top: 20px;">
    <ion-label class="normal" position="floating">
      Fecha final:
    </ion-label>
    <ion-input
      type="Date"
      name="fechaHasta"
      [(ngModel)]="fechaHasta"      
    >
    </ion-input>
  </ion-item>
  <ion-button style="margin: 30px" expand="full" color="tertiary" (click) = "consultarFactura()">
    Consultar
  </ion-button>
  <ion-button style="margin: 30px" expand="full" color="tertiary" (click) = "Limpiar()">
    Limpiar
  </ion-button> 
</ion-content>
<ion-content *ngIf="listado">
  <div class="ion-padding">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Numero</th>
          <th scope="col">Total</th>
          <th scope="col">Estado</th>
          <th scope="col">Fecha</th>
          <th scope="col">Observación</th>
        </tr>
      </thead>
      <tbody *ngFor="let data of listado">
        <tr>
          <td> {{ data.facturaNumero | number }} </td>
          <td> {{ data.facturaTotal | currency }} </td>
          <td> {{ data.facturaEstado }} </td>
          <td> {{ data.facturaFecha | date }} </td>
          <td> {{ data.facturaObservacion }} </td>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>
