<ion-app>
  <ion-split-pane contentId="main">
    <!--  the side menu  -->
    <ion-menu contentId="main" menuId="principal">
      <ion-header>
        <ion-toolbar>
          <ion-title class="subtitulo"> Menú</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>

        <ion-menu-toggle autoHide="false">
          <ion-item button="true" detail="true" [routerLink]="['/home']">
            <ion-icon name="home-outline"></ion-icon>
            <ion-label class="normalMenu">
              Inicio
            </ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle autoHide="false">
          <ion-item button="true" detail="true" [routerLink]="['/set-clientes']">
            <ion-icon name="people-outline"></ion-icon>
            <ion-label class="normalMenu">
              Clientes
            </ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle autoHide="false">
          <ion-item button="true" detail="true" [routerLink]="['/categorias']">
            <ion-icon name="people-outline"></ion-icon>
            <ion-label class="normalMenu">
              Categorias
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle autoHide="false">
          <ion-item button="true" detail="true" [routerLink]="['/vendedor']">
            <ion-icon name="cash-outline"></ion-icon>
            <ion-label class="normalMenu">
              Productos
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
        
        <ion-menu-toggle autoHide="false">
          <ion-item button="true" detail="true" [routerLink]="['/set-facturas']">
            <ion-icon name="newspaper-outline"></ion-icon>
            <ion-label class="normalMenu">
              Factura
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
       
        <ion-menu-toggle autoHide="false">
          <ion-item button="true" detail="true" [routerLink]="['/consultarfactura']">
            <ion-icon name="newspaper-outline"></ion-icon>
            <ion-label class="normalMenu">
              Consultar Factura
            </ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle autoHide="false">
          <ion-item button="true" detail="true" [routerLink]="['/vendedor']">
            <ion-icon name="server-outline"></ion-icon>
            <ion-label class="normalMenu">
              Vendedores
            </ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle autoHide="false">
          <ion-item button="true" detail="true" [routerLink]="['/factura']">
            <ion-icon name="document-text-outline"></ion-icon>
            <ion-label class="normalMenu">
              Factura
            </ion-label>
          </ion-item>
        </ion-menu-toggle>

      </ion-content>
    </ion-menu>

    <!-- the main content -->
    <ion-router-outlet id="main"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
